node_modules
.next
out
dist
build

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# editor
.vscode
.idea
.DS_Store

# payload
.payload
payload-types.ts.bak

# typescript
*.tsbuildinfo
next-env.d.ts
